body,
html,
#root,
.App {
  background-color: blanchedalmond;
}

ul {
  list-style-type: none;
}

.App {
  margin: 6%;
}

.artist__name {
  font-size: 30px;
  font-family: monospace;
  left: 500px;
  top: 200px;
  position: absolute;
}

.searchContainer {
  display: inline-block;
  float: right;
}

.artist__info {
  position: absolute;
  top: 130px;
  width: 300px;
  height: 400px;
  background-color: #f0f8ff;
  border-radius: 3%;
  margin-left: 50px;
  text-align: center;
}

.artist__info.hide {
  display: none !important;
}

.artist__icon {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 40px 50px;
  display: block;
}

.artist__fb {
  width: 33px;
  height: 33px;
  border: 0;
  background-image: url("./assets/facebook.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.artist__events {
  float: right;
  width: 60%;
  margin-right: 5%;
}

.artist__list {
  width: 320px;
  margin-left: -30px;
  position: absolute;
}

.artist__list li {
  height: 30px;
  background-color: #000;
  margin-top: 1px;
  color: coral;
  cursor: pointer;
}

.artist__list li:hover {
  background-color: #444;
}

.artist__events__list li {
  height: 50px;
}

.artist__events__list li {
  background-color: #fff;
  margin-top: 1px;
}

.artist__list li:first-child,
.artist__events__list li:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.artist__events__list li:hover {
  background-color: #f5f5f5;
}

.artist__events__list li .date {
  width: 10%;
  color: coral;
  display: inline-block;
  text-align: center;
  margin: 2px 0px;
}

.artist__events__list li .date .day {
  display: block;
  font-size: 25px;
}

.artist__events__list li .date .month {
  display: block;
  font-size: 14px;
}

.artist__events__list li .venue {
  width: 40%;
  display: inline-block;
}

.artist__events__list li .place {
  width: 50%;
  display: inline-block;
}

.toolbar__container {
  height: 180px;
  background-color: coral;
  border-radius: 3px 3px 0px 0px;
}

/*-------------------------------------*/

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/*-------------------------------------*/

.form-wrapper {
  width: 320px;
  padding: 10px;
  margin: 10px 10px auto auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset,
    0 1px 0 rgba(255, 255, 255, 0.2);
}

.form-wrapper input {
  width: 97%;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px "lucida sans", "trebuchet MS", "Tahoma";
  border: 0;
  background: #eee;
  border-radius: 3px 3px 3px 3px;
}

.form-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
